<% from bottle import request

city=request.forms.get('cityid')
wing=request.forms.get('wingid')

finalResults=c.execute("SELECT * FROM resultView WHERE Wing_Type = ? AND City = ?",(wing, city))
%>


<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Jeremy's Wing Finder</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/wings.min.css" />
	<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<!--better mobile size-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div data-role="page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1>Welcome to Jeremy's Wing Finder</h1>
        </div>
        <div data-role="content" data-theme="a">
            <h2>Your results</h2>
            <p>You selected {{city}} as your city.</p>
            <p>You selected {{wing}} as your wint type.</p>
            <table border ="1">
                <tr>
                    <th>City</th>
                    <th>Restaurant</th>
                    <th>Wing Type</th>
                    <th>Address</th>
                </tr>
                %for record in finalResults:
                <tr>
                    <td>{{record[0]}}</td>
                    <td>{{record[1]}}</td>
                    <td>{{record[2]}}</td>
                    <td>{{record[3]}}</td>
                </tr>
                %end
            </table>
            <button type="button"
                    onclick="document.location.href = '/'">
                    Click here to search again
            </button
        </div>
        <div data-role="footer" id="footer">
            Jeremy Morgan - IUPUI 2018
        </div>
    </div>
</body>